.em-admin-summary {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid;
    padding: 0 20px;
}

.em-admin-summary-title {
    margin: 10px auto;
}

.em-admin-center-text {
    text-align: center;
}

.em-admin-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.em-admin-auto {
    margin: auto;
}

.em-admin-inline {
    display: inline-block;
}